<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ app_name }} - {% block title %}{% endblock %}</title>
    
    <!-- CSS Styles -->
    <link rel="stylesheet" href="{{ url_for('static', path='/css/bulma.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', path='/css/all.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', path='/css/style.css') }}">
</head>
<body>
    {% include "partials/_navbar.html" %}

    <section class="section">
        <div class="container">
            {% block content %}{% endblock %}
        </div>
    </section>

    {% include "partials/_footer.html" %}
    
    <script src="{{ url_for('static', path='/js/auth.js') }}"></script>
    <script src="{{ url_for('static', path='/js/main.js') }}"></script>
    {% block scripts %}{% endblock %}
</body>
</html>